#Dependencias
node_modules/
#Seguridad 
.env
.env.local
.env.*
file-pass
# Logs y Errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
#Archivos Basura del Sistema Operativo 
.DS_Store
Thumbs.db
#Configuración de Editores
.vscode/
.idea/

dist/
coverage/

# Certificados SSL (Seguridad)
backend/src/certs/
*.cert
*.key
*.pem